<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>About Us</title>
</head>
<body>
        <div class="container">
            <h1 style="margin-left: 10px; color: brown;">About 
                <span style="margin-left: 10px; color: rgb(121, 107, 107);">Me</span>
            </h1>
            <nav class="navbar-blog">
                <a href="../../index.html" class="navme">Home</a>
                <a href="../../index.html" class="navme">Artikel</a>
                <a href="./blog.html" class="navme">Blog</a>
                <a href="./project.html">Project</a>
                <a href="./about.html" class="navme">About</a>
            </nav>
            <div class="container1">

                <div class="about">
                <div class="image-container">
                    <img src="../public/images/sm.png" alt="">
                </div>
            
                <div class="text">

                    <h3>Pria Asal Purwakarta</h3>
                    <h3>Yang Mempunyai Ketertarikan Di Dunia</h3>
                    <p>Networking Mikrotik & Cisco</p>
                    <p>Web developer Khususnya Bagian BackEnd</p>
                        <div class="info">
                            <a href="https://saepul-idn.github.io/dev" class="a-icons">
                                <img src="../public/images/github.png" alt=""
                                class="icons">my<span style="color: rgb(121, 107, 107);"> github</span>
                            </a>
                        </div>
                </div>
                
            </div>


        <!-- footer -->
        <div class="container-1">
            <footer>
                <p style="text-align: center; color: brown;">Copy
                    <span style="color: rgb(121, 107, 107);">Right</span>
                    <span>@iming</span>
                </p>
                <a href=""></a>
            </footer>
        </div>
        </div>
        

    
</body>
</html>
