<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Blog Me</title>
</head>
<body>
    <div class="container">
        <header class="headme">
            <h1 style="margin-left: 10px; color: brown;">Project 
                <span style="margin-left: 10px; color: rgb(121, 107, 107);">Me</span>
            </h1>
            <nav class="navbar-blog">
                <a href="../../index.html" class="navme">Home</a>
                <a href="../../index.html" class="navme">Artikel</a>
                <a href="./blog.html" class="navme">Blog</a>
                <a href="./project.html">Project</a>
                <a href="./about.html">About</a>
            </nav>
        </header>
        <div class="container-1">

            <h1 style="margin-left: 10px; color: rgb(121, 107, 107);">Membangun 
                <span style="font: size 8px; color: brown">Rest-api </span>Untuk Keperluan Sehari-hari
            </h1>
            <h3 style="margin-left: 10px; color: rgb(121, 107, 107);">
                 <span style="color: brown;">Rest-api</span> berbasis 
                 <span style="color: rgb(212, 151, 75);">expressJS</span> 
                 <span style="color: rgb(75, 157, 212);">Telegram</span> 
                 <span style="color: rgb(75, 212, 93);">Spreadsheet</span> 
            </h3>
            <img src="../public/images/apijs.png" alt="Your Image">
            <article>
                <p style="margin-left: 10px;color: rgb(121, 107, 107);">
                </p>
                <h3 style="margin-left: 10px;color: rgb(121, 107, 107);">Alur kerja</h3>
                <p style="margin-left: 10px;color: rgb(121, 107, 107);">endpoint: 
                    <span style="color: brown;">/api/v2/getUpdates/:value</span>
                </p>
            </article>

        </div>
        <!-- footer -->
        <div class="container-1">
            <footer>
                <p style="text-align: center; color: brown;">Copy
                    <span style="color: rgb(121, 107, 107);">Right</span>
                    <span>@iming</span>
                </p>
                <a href=""></a>
            </footer>
        </div>
    </div>
</body>
</html>
